<header class="topbar">
  <div class="container-fluid">
    <div class="navbar-header">
      <div class="d-flex align-items-center justify-content-end w-100">
        <div class="topbar-item">
          <button type="button" class="topbar-button" (click)="changeTheme()" id="light-dark-mode" aria-label="Toggle dark/light theme">
            <iconify-icon icon="solar:moon-bold-duotone" class="fs-24 align-middle"></iconify-icon>
          </button>
        </div>
      </div>
    </div>
  </div>
</header>
